@import "tailwindcss";

@layer base {
  :root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    font-family:
      "Avenir Next", "Trebuchet MS", "Noto Sans", "Helvetica Neue", "Segoe UI", sans-serif;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}
